# Dependencias (ocupan mucho y se instalan con npm install)
node_modules/

# Variables de entorno (¡SECRETOS! Nunca deben subirse a GitHub)
.env

# Carpeta de compilación (código generado automáticamente)
dist/
build/

# Archivos del sistema y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store